@small:10px;
@midi:14px;
@large:18px;
@xlarge:20px;
@xxlarge:24px;
.soft-box {
    border-radius: 5px;
}
.placeholder-top{
    opacity: 0.6;
  font-size: 10px;
  line-height: 1;
  color: #333333;
}


*,
*:before,
*:after{
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: @small;
    background-color:  #dcdfe4;
}
.add-task-form{
    display: flex;
    flex-direction: column;
    width: 840px;
    height: 100%;
    margin: 120px auto;
    background-color: #ffffff;
    padding: 28px 40px;
    color: #333333;
    .soft-box;
    position: relative;
}
.add-task-form::before,
.add-task-form::after {
       position: absolute;
       content: "";
       width:100%;
       background-color: #dddddd;
       height: 1px;
       left: 0;
}
.add-task-form::before {
    top: 106px;

}
.add-task-form::after {
    bottom: 106px;
}
.title-form {
    font-size: @xxlarge;
    font-weight: 900;
    line-height: 40px;
}
.input-wrap {
    margin: 10px 0;
    width: 450px;
}
.date-input-wrap {
    align-self: flex-end;

}
input,
textarea {
    padding: @xlarge;
    width: 100%;
}
input[type="date"] {
    width: 250px;
}
input::placeholder {
    .placeholder-top
}
input::placeholder-shown {
    .placeholder-top;
}
input:focus::placeholder-shown {
    padding-bottom: 40px;

}
button[name="input-btn"] {
    visibility: hidden;
}
